*{
    margin: 0px;
    padding: 0px;
}

#app{
    flex: 1;
    padding: 20px;
}

body {
    background-color: darkslateblue;
    color: white;
    font-family: Poppins, Arial, Helvetica, sans-serif;
    padding: 30px;
    padding-top: 20px;
    justify-content: center;
}

.logoDiv{
    display: flex; 
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}
.logo{
    width: 80px;
    border-radius: 1000px;
    box-shadow: 1px 1px 3px black;
    justify-content: center;
    margin-right: 20px;
    
}
.divFormList{
    background-color: rgb(108, 95, 196);
    border-radius: 3px;
    display: flex; 
    align-items: center;
    justify-content: center;
    margin: 5px 30% 5px 30%;
    min-width: 320px;
    padding: 20px;
}
.list{
    margin: 5px;
    margin-bottom: 20px;
}
.list li{
    margin-bottom: 5px;
    font-weight: bold;
    list-style: none;
}
input{
    border-radius: 3px;
    padding: 5px;
    padding-left: 10px;
    border: 1px solid #111;
    margin: 5px;
}

.button{
    border-radius: 3px;
    padding: 5px 20px 5px 20px;
    border: 1px solid #111;
    margin: 5px;
    background-color: darkslateblue;
    color: white;
    font-weight: bold;
    cursor: pointer;
}